.trust {
  padding: 50px 0 60px;
  background-color: #FAFAFA;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %heading-6;
    text-align: center;
    color: #020D37;
    margin-bottom: 35px;
  }

  &__row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}